.card1, .card2, .card3, .card4, .card5 {
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.card1{
    background-image: url('../assets/images/sports-1.jpeg');
}
.card2{
    background-image: url('../assets/images/sports-2.jpeg');
}
.card3{
    background-image: url('../assets/images/sports-3.jpeg');
}
.card5{
    background-image: url('../assets/images/dick.jpeg');
}